# Virtual Environments
venv/
.venv/
.venv313/
.env/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Ignore large model files and raw datasets (Best practice for GitHub)
data/raw/*
data/processed/*
data/intermediate/*

# Ignore all quality checked data EXCEPT the lightweight dashboard CSV
data/quality_checked/*
!data/quality_checked/tn_retail_prices_dashboard.csv

# Ignore all heavy model files EXCEPT the deployed hybrid model
models/*
!models/tn_no_lag_model.joblib
